html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  color: #ffffff;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #1c1c1c;
  width: 1130;
  height: 451px;
  margin: 110px 200px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas:
    "title title title  landing inner cms template"
    "footer footer footer footer footer footer footer";
}

.title {
  grid-area: title;
}
.title .p__title {
  font-size: 2.3em;
  line-height: 1.5em;
  padding-left: 38px;
}
.landing,
.inner,
.cms,
.template {
  padding-top: 39px;
  padding-bottom: 50px;
}
p {
  opacity: 0.05;
  font-size: 1.1em;
}

.p__title,
.p__header {
  opacity: 1;
}
.p__header {
  padding-right: 0.5em;
}

.landing {
  grid-area: landing;
}
.inner {
  grid-area: inner;
}
.cms {
  grid-area: cms;
}
.template {
  grid-area: template;
}
.footer {
  display: inline-flex;
  grid-area: footer;
  align-items: center;
  justify-content: center;
}
.p__logo {
  font-size: 2.3em;
  padding-right: 20px;
}
