html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  color: #ffffff;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #1c1c1c;
  width: 1130;
  height: 451px;
  margin: 110px 200px;

  display: grid;
  grid-template-columns: 45% repeat(4, 1fr);
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  line-height: 1.5em;
  padding-top: 15px;
  padding-left: 38px;
  opacity: 1;
}

h4 {
  opacity: 1;
  padding-right: 0.5em;
}

p {
  opacity: 0.4;
  font-size: 1rem;
}

.column-text {
  padding-top: 28px;
  padding-bottom: 50px;
}
.footer {
  display: inline-flex;
  grid-column-start: span 5;
  align-items: center;
  justify-content: center;
}

.footer .p__logo {
  font-size: 1.9rem;
  padding-right: 20px;
}

.p__logo {
  opacity: 1;
}

.footer .p__copy {
  opacity: 0.2;
}
.footer .p__copy #s__webflow {
  opacity: 1;
}
